asgiref==3.8.1
certifi==2025.1.31
charset-normalizer==3.4.1
Django==5.1.5
docutils==0.21.2
et_xmlfile==2.0.0
filetype==1.2.0
git-filter-repo==2.47.0
gunicorn==23.0.0
idna==3.10
Kivy==2.3.1
kivy-deps.angle==0.4.0
kivy-deps.glew==0.3.1
Kivy-Garden==0.1.5
kivy_deps.sdl2==0.8.0
kivymd==1.2.0
numpy==2.2.4
openpyxl==3.1.5
packaging==24.2
pandas==2.2.3
pillow==11.1.0
pygame==2.6.1
Pygments==2.19.1
pypiwin32==223
python-dateutil==2.9.0.post0
pytz==2025.2
pywin32==308
requests==2.32.3
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
